<%- include('partials/header') %>

<div class="row bg-olive p-5">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto mb-5 px-5 pb-4 bg-white rounded">
        <h3 class="mt-5 mb-4 text-center">Page Not Found</h3>
        <p>We couldn't find the page your were looking for</p>
        <a href="/recipes"><strong>Back to recipes</strong></a>
    </div>
</div>

<%- include('partials/footer') %>